.company-page-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: row;
}
.company-page-container h1{
  font-size: 55px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.company-page-container h1,
.company-page-container h3 {
  color: #40798c;
  text-align: center;
  margin-top: 5px;
  text-decoration: none;
}
.company-page-container h3 {
  font-size: 20px;
}

.company-page-container .h4-login .Link {
  text-decoration: none;
  color: #40798c;
}
.company-page-container .h4-login .Link:hover {
  color: #75a5b3;
}

.company-page-container .h4-login {
  color: #828181;
  text-align: center;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.company-page-container .form-section {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.company-page-container .fields-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 12%;
  margin-top: 10px;
  
}

.company-page-container .field-container {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  min-height: 60px;
}

.company-page-container .error-msg {
  color: rgb(235, 138, 138);
  font-size: 0.9rem;
  margin: 0;
  margin-right: 40px;
  line-height: 0.4rem;
  min-height: 0.4rem;
}

.company-page-container .form-section input {
  margin: 15px 20px;
  width: 30%;
  padding: 20px;
  color: rgb(30, 30, 30);
  overflow-y: auto;
  text-align: right;
  border: 1px solid #a3a9a6;
  border-radius: 30px;
  box-shadow: 0 2px 5px #40798c;
  font-size: 20px;
}
.company-page-container .form-fields {
  margin-top: 40px;
}



.company-page-container .folder-wrapper {
  position: relative;
}

.company-page-container .folder-icon {
  font-size: 22px;
  color: #40798c;
  margin-top: -40px;
  position: absolute;
  top: -10px;
  left: 50px;   
  transform: translateY(-50%);
  cursor: pointer;
  
}

.company-page-container .plus-icon {
  position: absolute;
  top: -45px;
  font-size: 20px;
  background-color: white;
  color: #40798c;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 55px;   
  transform: translateY(-50%);
  cursor: pointer;
  
}

.company-page-container .file-upload-container input[type="text"] {
  padding: 20px;
  text-align: right;
  color: rgb(30, 30, 30);
  border: 1px solid #a3a9a6;
  border-radius: 30px;
  box-shadow: 0 2px 5px #40798c;
  font-size: 20px;
  direction: rtl;
  appearance: none;
}

.company-page-container .CompanyRegister-password-field-container {
  position: relative;
}
.company-page-container input::-ms-reveal {
  display: none;
}
.company-page-container .eye {
  position: absolute;
  top: 50%;
  left: 50px;   
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #40798c;
}
.company-page-container .password-error-msg {
  position: absolute;
  bottom: -10px;
  color: rgb(235, 138, 138);
   font-size: 0.9rem;
   margin: 0;
  margin-right: 40px;
  line-height: 0.4rem;
  min-height: 0.4rem;
}
.company-page-container .passwords-row {
  display: flex;
  gap: 80px;
}

.company-page-container .link-button {
  display: block;
  text-align: center;
  text-decoration: none;  
  margin: 45px auto;
  width: 50%;
  max-width: 250px;
  color: white;
  background-color: #40798c;
  padding: 12px;
  border-radius: 35px;
  font-size: 20px;
  border: none;
}
.company-page-container .form-section button:hover {
  box-shadow: 2px 2px 5px #a3a9a6;
  border: 1px solid #40798c;
}


/* DESKTOP */
@media (min-width: 993px)  {
  .company-page-container  {
    flex-direction: row;
    height: 100vh;
  }

 .company-page-container  .form-section {
    width: 60%;
  }

.company-page-container  .form-section input {
    width: 20vw;
  }

.company-page-container  img {
    width: 40%;
    height: auto;
    object-fit: cover;
    object-position: left;
  }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 992px) {
  .company-page-container  {
    flex-direction: row;
    height: auto;
    overflow-y: auto;
  }

  .company-page-container  .form-section {
    width: 55%;
    height: auto;
  }

 .company-page-container  img {
    width: 45%;
    height: 130%;
    object-fit: cover;
  }

 .company-page-container  .form-section,
  .company-page-container  .h4-login {
    margin-top: 25px;
    padding-top: 0;
    position: relative;
    top: -10px;
    text-align: center;
    padding-bottom: 60px;
    font-size: 18px;
  }


.company-page-container .error-msg {
    margin-left: 40%;
  }

  .company-page-container  .form-section input,
 .company-page-container  .password-field input {
    width: 35vw;
    font-size: 20px;
  }

.company-page-container  .passwords-row {
    flex-direction: column;
    gap: 5px;
    margin: 0;
  }

.company-page-container  .password-field {
    width: 100%;
  }



 .company-page-container  img {
    width: 50%;
    height: auto;
    display: block;
  }
}

/* MOBILE */
@media (max-width: 767px) {
 .company-page-container  {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

.company-page-container  .form-fields {
    display: flex;
    flex-direction: column;
  }

.company-page-container  .form-section {
    width: 100%;
  }

.company-page-container  h1,
 .company-page-container  h3 {
    margin-left: 0;
    text-align: center;
  }

 .company-page-container  .h4-customer-login {
    margin-top: -20px;
  }

 .company-page-container .error-msg {
    margin-right: 18%;
  }
 .company-page-container  .form-section input,
.company-page-container  .password-field input {
    width: 65vw;
    margin-right: 10%;
    display: block;
    font-size: 20px;
    
  }

.company-page-container  .passwords-row {
    flex-direction: column;
    display: block;
    
  }

.company-page-container .password-field {
    width: 100%;
   
  }
  
 .company-page-container  .eye {
  position: absolute;
  top: 50%;
  left: 20px;   
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #40798c;
}

.company-page-container  .form-section button {
    width: 60%;
    margin: 30px 95px 0 0;
  }
  .company-page-container .folder-icon {
  font-size: 22px;
  color: #40798c;
  margin-top: -40px;
    position: absolute;
  top: -10px;
  left: 15px;   
  transform: translateY(-50%);
  cursor: pointer;
  
}

.company-page-container .plus-icon {
  position: absolute;
  top: -45px;
  font-size: 20px;
  background-color: white;
  color: #40798c;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;   
  transform: translateY(-50%);
  cursor: pointer;
  
}

 .company-page-container  img {
    width: 100%;
    height: auto;
    margin-top: 10%;
  }
}
