
.customer-register-page-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: row;
}
.customer-register-page-container h1{
  font-size: 55px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.customer-register-page-container h1,
.customer-register-page-container h3 {
  color: #40798c;
  text-align: center;
  margin-top: 25px;
  margin-left: 5%;
  text-decoration: none;
}

.customer-register-page-container h3 {
  font-size: 20px;
}

.customer-register-page-container .Link {
  text-decoration: none;
  color: #40798c;
}

.customer-register-page-container .Link:hover {
  color: #75a5b3;
}

.customer-register-page-container .h4-customer-login {
  color: #828181;
  text-align: center;
  margin-top: -15px;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.customer-register-page-container .form-section {
  direction: rtl;
}

.customer-register-page-container .fields-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10%;
  margin-top: 60px;
}

.customer-register-page-container .field-container {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  min-height: 60px;
}

.customer-register-page-container .error-msg {
  color: rgb(235, 138, 138);
  font-size: 0.9rem;
  margin: 0;
  margin-right: 40px;
  line-height: 0.4rem;
  min-height: 0.4rem;
}

.customer-register-page-container .form-section input {
  margin: 15px 20px;
  width: 30%;
  padding: 20px;
  color: rgb(30, 30, 30);
  overflow-y: auto;
  text-align: right;
  border: 1px solid #a3a9a6;
  border-radius: 30px;
  box-shadow: 0 2px 5px #40798c;
  font-size: 20px;
}

.customer-register-page-container .form-fields {
  margin-top: 40px;
}

.customer-register-page-container .searchable-dropdown input {
  margin: 15px 20px;
  width: 30%;
  padding: 20px;
  text-align: right;
  color: rgb(30, 30, 30);
  border: 1px solid #a3a9a6;
  border-radius: 30px;
  box-shadow: 0 2px 5px #40798c;
  font-size: 20px;
  direction: rtl;
  appearance: none;
}

.customer-register-page-container .dropdown-list {
  position: absolute;
  width: 200px;
  max-height: 120px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 5px;
  z-index: 10;
}

.customer-register-page-container .dropdown-list li {
  padding: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.customer-register-page-container .dropdown-list li:hover {
  background: #f2f2f2;
}

.customer-register-page-container .no-result {
  color: gray;
  text-align: center;
}

.customer-register-page-container .password-field-container {
  position: relative;
}

.customer-register-page-container .eye {
  position: absolute;
  top: 50%;
  left: 50px;   
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #40798c;
}


.customer-register-page-container input::-ms-reveal {
  display: none;
}
.customer-register-page-container .password-error-msg {
  position: absolute;
  bottom: -10px;
  color: rgb(235, 138, 138);
   font-size: 0.9rem;
   margin: 0;
  margin-right: 40px;
  line-height: 0.4rem;
  min-height: 0.4rem;
}

.customer-register-page-container .link-button {
  display: block;
  text-align: center;
  text-decoration: none;  
  margin: 45px auto;
  width: 50%;
  max-width: 250px;
  color: white;
  background-color: #40798c;
  padding: 12px;
  border-radius: 35px;
  font-size: 20px;
  border: none;
}

.customer-register-page-container .form-section button:hover {
  box-shadow: 2px 2px 5px #a3a9a6;
  border: 1px solid #40798c;
}


/* DESKTOP */
@media (min-width: 993px) {
  .customer-register-page-container {
    flex-direction: row;
    height: 100vh;
  }

  .customer-register-page-container .form-section {
    width: 60%;
  }

  .customer-register-page-container .form-section input {
    width: 20vw;
  }

  .customer-register-page-container img {
    width: 40%;
    height: 100%;
  }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 992px) {
  .customer-register-page-container {
    flex-direction: row;
    height: auto;
    overflow-y: auto;
  }

  .customer-register-page-container .form-section {
    width: 55%;
    height: auto;
  }

  .customer-register-page-container img {
    width: 45%;
    height: 130%;
    object-fit: cover;
  }

  .customer-register-page-container .form-section,
  .customer-register-page-container .h4-login {
    margin-top: 25px;
    padding-top: 0;
    position: relative;
    top: -10px;
    text-align: center;
    padding-bottom: 60px;
    font-size: 18px;
  }


  .customer-register-page-container .error-msg {
    margin-left: 40%;
  }

  .customer-register-page-container .form-section input,
  .customer-register-page-container .governorate-select,
  .customer-register-page-container .password-field input {
    width: 35vw;
    font-size: 20px;
  }

  .customer-register-page-container .passwords-row {
    flex-direction: column;
    gap: 5px;
    margin: 0;
  }

  .customer-register-page-container .password-field {
    width: 100%;
  }



  .customer-register-page-container img {
    width: 50%;
    height: auto;
    margin: 20px auto;
    display: block;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  .customer-register-page-container {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .customer-register-page-container .form-fields {
    display: flex;
    flex-direction: column;
  }

  .customer-register-page-container .form-section {
    width: 100%;
  }

  .customer-register-page-container h1,
  .customer-register-page-container h3 {
    margin-left: 0;
    text-align: center;
  }

  .customer-register-page-container .h4-customer-login {
    margin-top: -20px;
  }

  .customer-register-page-container .error-msg {
    margin-right: 18%;
  }
    .customer-register-page-container .form-fields{
   margin-top:-20px;
    }
  .customer-register-page-container .form-section input,
  .customer-register-page-container .password-field input {
    width: 65vw;
    margin-right: 10%;
    display: block;
    font-size: 20px;
  }

  .customer-register-page-container .passwords-row {
    flex-direction: column;
    display: block;
  }

  .customer-register-page-container .password-field {
    width: 100%;
  }

  .customer-register-page-container .eye {
  position: absolute;
  top: 50%;
  left: 20px;   
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #40798c;
}

  .customer-register-page-container .form-section button {
    width: 60%;
    margin: 30px 95px 0 0;
  }

  .customer-register-page-container img {
    width: 110%;
    height: auto;
    margin-top: 10%;
  }
}
