.customer-login-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.customer-login-container .title {
  color: #40798c;
  text-align: center;
  margin-top: 20px;
  margin-right: 7%;
  font-size: 58px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.customer-login-container .h3 {
  font-size: 18px;
  color: #40798c;
  text-align: center;
  margin-right: 35%;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.customer-login-container .h3:hover {
  color: #75a5b3;
}

.customer-login-container .link {
  text-decoration: none;
  color: #40798c;
}

.customer-login-container .link:hover {
  color: #75a5b3;
}

.customer-login-container .h4 {
  color: #828181;
  text-align: center;
  margin-top: 10%;
  margin-right: 30px;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.customer-login-container .login-error-msg {
  color: rgb(235, 138, 138);
  font-size: 1.1rem;
  margin: 0;
  margin-right: 40px;
  line-height: 1rem;
  min-height: 1rem;
}

.customer-login-container .Login-form {
  width: 50%;
  direction: rtl;
}

.customer-login-container .Login-form input {
  margin: 15px 25px;
  width: 100%;
  padding: 20px;
  color: rgb(30, 30, 30);
  overflow-y: auto;
  text-align: right;
  border: 1px solid #a3a9a6;
  border-radius: 30px;
  box-shadow: 0 2px 5px #40798c;
  font-size: 20px;
}

.customer-login-container .login-form-fields {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer-login-container .login-password-field {
  position: relative;
  width: 30%;
}

.customer-login-container .login-password-field input {
  margin: 25px;
  width: 100%;
  padding: 20px;
  overflow-y: auto;
  text-align: right;
  color: black;
  border: 1px solid #a3a9a6;
  border-radius: 30px;
  box-shadow: 0 2px 5px #40798c;
  font-size: 20px;
  position: relative;
}

.customer-login-container input::-ms-reveal {
  display: none;
}

.customer-login-container .password-eye {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  font-size: 20px;
  color: #40798c;
}

.customer-login-container .btn-container {
  color: white;
  background-color: #40798c;
  padding: 10px 20px;
  border-radius: 35px;
  width: 80%;
  font-size: 20px;
  margin-right: 15%;
  margin-top: 8%;
  border: none;
}

.customer-login-container .Login-form button:hover {
  box-shadow: 2px 2px 5px #a3a9a6;
  border: 1px solid #40798c;
}

/* DESKTOP */
@media (min-width: 993px) {
  .customer-login-container {
    flex-direction: row;
    height: 100vh;
  }

  .customer-login-container .h3 {
    margin-top: 5%;
  }

  .customer-login-container .Login-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .customer-login-container .Login-form input {
    width: 100%;
  }

  .customer-login-container .login-password-field {
    width: 100%;
  }

  .customer-login-container .password-eye {
    right: 300px;
  }

  .customer-login-container .image {
    transform: scale(1.05);
  }

  .customer-login-container .image img {
    width: 40vw;
    height: 100%;
  }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 992px) {
  .customer-login-container {
    flex-direction: row;
    height: auto;
    overflow-y: auto;
  }

  .customer-login-container .Login-form {
    width: 50%;
    height: auto;
  }

  .customer-login-container img {
    width: 45%;
    height: 130%;
    object-fit: cover;
  }

  .customer-login-container .h4 {
    padding-top: 0;
    position: relative;
    text-align: center;
    padding-bottom: 60px;
    font-size: 18px;
  }

  .customer-login-container input,
  .customer-login-container .login-password-field input {
    width: 100%;
    font-size: 20px;
  }

  .customer-login-container .login-password-field {
    width: 100%;
  }

  .customer-login-container .password-eye {
    position: absolute;
    top: 50%;
    right: 300px;
    transform: translateY(-50%);
    font-size: 18px;
  }

  .customer-login-container .btn-container Link {
    width: 50%;
    margin: 30px 90px 10px 0;
    display: block;
    text-decoration: none;
  }

  .customer-login-container .image img {
    width: 50vw;
    height: auto;
    margin: 20px auto;
    display: block;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  .customer-login-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    overflow-y: auto;
  }

  .customer-login-container .Login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
  }

  .customer-login-container .title {
    text-align: center;
  }

  .customer-login-container .h4 {
    margin-top: 30px;
    margin-right: 40px;
  }

  .customer-login-container input,
  .customer-login-container .login-password-field input {
    width: 100%;
    display: block;
  }

  .customer-login-container .login-password-field {
    width: 100%;
  }

  .customer-login-container .password-eye {
    right: 290px;
  }

  .customer-login-container .btn-container {
    width: 80%;
    margin: 30px 55px 0 0;
  }

  .customer-login-container .image img {
    width: 110%;
    height: auto;
    margin: 10px;
    margin-top: 10%;
  }
}
