.CustomerCode-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}
.CustomerCode-container .CustomerCode-title {
  color: #40798c;
  text-align: center;
  /* margin-top: 20px; */

  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.CustomerCode-container .CustomerCode-form {
  width: 100%;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CustomerCode-container .CustomerCode-form input {
  /* margin: 15px 15px; */
  width: 70px;
  height: 70px;
  color: rgb(30, 30, 30);
  text-align: center;
  border: 1px solid #a3a9a6;
  border-radius: 30px;
  box-shadow: 0 2px 5px #40798c;
  font-size: 26px;
  font-family: inter;
}

/* 
 */

.CustomerCode-container .CustomerCode-form-fields {
  /* margin-top: 50px; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-color: tomato; */
}
.CustomerCode-container .CustomerCode-form-fields form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  /* background-color: green; */
}
.CustomerCode-container .CustomerCode-form-fields form .otp-row {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
}

.CustomerCode-container .btn-Link {
  text-decoration: none;
}
.CustomerCode-container .btn-CustomerCode-container {
  color: white;
  background-color: #40798c;
  border-radius: 35px;
  width: 240px;
  padding: 10px 0 12px;
  font-size: 22px;
  margin: 0 auto;
  display: block;
  text-align: center;
  border: none;
  border: 1px solid transparent;
  box-shadow: 2px 2px 5px #a3a9a6;
  position: relative;
  top: 0;
  transition: 0.1s;
}

.CustomerCode-container .CustomerCode-form button:hover {
  border: 1px solid #40798c;
  top: 2px;
  box-shadow: 0px 0px 5px #a3a9a6;
  color: white;
}

.CustomerCode-container .resend-otp {
  cursor: pointer;
  color: #828181;
  display: block;
  /* margin-top: 40px; */
}

.CustomerCode-container .resend-otp:hover {
  color: #75a5b3;
}

.CustomerCode-container .resend-otp.disabled {
  cursor: not-allowed;
  color: #75a5b3;
}

/* DESKTOP */

/* ----------banner---------------------- */


.CustomerCode-container .image img {
  width: 40vw;
  height: 100%;
}

/* TABLET */
@media (max-width: 991px) {
  .CustomerCode-container .CustomerOTP-form {
    width: 100%;
    height: auto;
  }

  .CustomerCode-container .image {
    display: none;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  .CustomerCode-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    overflow-y: auto;
  }

  .CustomerCode-container .CustomerOTP-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin-right: 25px; */
  }
  .CustomerCode-container .CustomerCode-form-fields form .otp-row {
    width: 100%;
  display: flex;
  flex-direction: row-reverse;
  /* gap: 15px; */
  gap:initial;
  justify-content: space-evenly;
}

  .CustomerCode-container .CustomerCode-title {
    width: 80%;
    font-size: 30px;
    line-height: 1.9;
    text-align: center;
    /* margin-left: 15%; */
  }

  .CustomerCode-container input {
    width: 70px;
  }

  .CustomerCode-container .btn-CustomerCode-container {
    /* width: 40%; */
    /* margin: 30px 120px 0 0; */
  }

  .CustomerCode-container .image img {
    display: none;
}
}