.LoginOTP-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}
.LoginOTP-container .LoginOTP-title {
  color: #40798c;
  text-align: center;
  /* margin-top: 20px; */

  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.LoginOTP-container .LoginOTP-form {
  width: 100%;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.LoginOTP-container .LoginOTP-form input {
  /* margin: 15px 15px; */
  width: 70px;
  height: 70px;
  color: rgb(30, 30, 30);
  text-align: center;
  border: 1px solid #a3a9a6;
  border-radius: 30px;
  box-shadow: 0 2px 5px #40798c;
  font-size: 26px;
  font-family: inter;
}


.otp-error {
  color: rgb(235, 138, 138);

  font-size: 1.2rem;
  font-weight: 300;
  /* margin: 0; */
  margin: 0 40px -10px;
   /* position: relative; */
  top: 100%;
  right: 0;
  /* line-height: 1.2rem;
  min-height: 1.0rem; */
  animation: shake 0.4s ease-in-out;            
}



/* تأثير اهتزاز */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}




.LoginOTP-container .LoginOTP-form-fields {
  /* margin-top: 50px; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-color: tomato; */
}
.LoginOTP-container .LoginOTP-form-fields form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  /* background-color: green; */
}
.LoginOTP-container .LoginOTP-form-fields form .otp-row {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
}

.LoginOTP-container .btn-Link {
  text-decoration: none;
}
.LoginOTP-container .btn-LoginOTP-container {
  color: white;
  background-color: #40798c;
  border-radius: 35px;
  width: 240px;
  padding: 10px 0 12px;
  font-size: 22px;
  margin: 0 auto;
  display: block;
  text-align: center;
  border: none;
  border: 1px solid transparent;
  box-shadow: 2px 2px 5px #a3a9a6;
  position: relative;
  top: 0;
  transition: 0.1s;
}

.LoginOTP-container .LoginOTP-form button:hover {
  border: 1px solid #40798c;
  top: 2px;
  box-shadow: 0px 0px 5px #a3a9a6;
  color: white;
}

.LoginOTP-container .resend-otp {
  cursor: pointer;
  color: #828181;
  display: block;
  /* margin-top: 40px; */
}

.LoginOTP-container .resend-otp:hover {
  color: #75a5b3;
}

.LoginOTP-container .resend-otp.disabled {
  cursor: not-allowed;
  color: #75a5b3;
}

.toast-success {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: #75a5b3; */
  /* background-color: #5f5e5e; */
  /* background-color: #d4edda; */
  
  background-color: #a9c1af;
  /* background-color: #adc7b3; */
  color: #ffffff;
  padding: 30px 60px;
  border-radius: 8px;
  border: 1px solid #c3e6cb;
  /* font-weight: bold; */
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  text-align: center;
}

/* DESKTOP */

/* ----------banner---------------------- */


.LoginOTP-container .image img {
  width: 40vw;
  height: 100%;
}

/* TABLET */
@media (max-width: 991px) {
  .LoginOTP-container .LoginOTP-form {
    width: 100%;
    height: auto;
  }

  .LoginOTP-container .image {
    display: none;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  .LoginOTP-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    overflow-y: auto;
  }

  .LoginOTP-container .LoginOTP-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin-right: 25px; */
  }
  .LoginOTP-container .LoginOTP-form-fields form .otp-row {
    width: 100%;
  display: flex;
  flex-direction: row-reverse;
  /* gap: 15px; */
  gap:initial;
  justify-content: space-evenly;
}

  .LoginOTP-container .LoginOTP-title {
    width: 80%;
    font-size: 30px;
    line-height: 1.9;
    text-align: center;
    /* margin-left: 15%; */
  }

  .LoginOTP-container input {
    width: 70px;
  }
    .toast-success {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: #75a5b3; */
  /* background-color: #5f5e5e; */
  /* background-color: #d4edda; */
  
  background-color: #a9c1af;
  /* background-color: #adc7b3; */
  color: #ffffff;
  padding: 20px 20px;
  border-radius: 8px;
  border: 1px solid #c3e6cb;
  /* font-weight: bold; */
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  text-align: right;
}

  .LoginOTP-container .btn-LoginOTP-container {
    /* width: 40%; */
    /* margin: 30px 120px 0 0; */
  }

  .LoginOTP-container .image img {
    display: none;
  }
  .LoginOTP-container .resend-otp {
    /* margin-right: 50px; */
}
}