.NewPassword-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.NewPassword-container .NewPassword-form {
  width: 60%;
  direction: rtl;
  /* background-color: goldenrod; */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.NewPassword-container .NewPassword-form-fields {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.NewPassword-container .NewPassword-form-fields .title {
  color: #40798c;
  text-align: center;
  font-weight: 300;
  font-size: 52px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* background-color: rgb(235, 138, 138); */
}
.NewPassword-container .NewPassword-form-fields form {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.NewPassword-container .NewPassword-form-fields form .field-container {
  /* background-color: tomato; */
  /* border: 1px solid #000; */
  width: 500px;
  width: 318px;
}
.NewPassword-container .NewPassword-form-fields form .field-container input {
  width: 100%;
  padding: 20px;
  color: rgb(30, 30, 30);
  overflow-y: auto;
  text-align: right;
  border: 1px solid #a3a9a6;
  border-radius: 30px;
  box-shadow: 0 2px 5px #40798c;
  font-size: 20px;
}

.NewPassword-container .success-msg {
  position: fixed;
  top: 0;
  left: 40%;
  transform: translateX(-50%);
  /* background-color: #75a5b3; */
  /* background-color: #5f5e5e; */
  /* background-color: #d4edda; */
  
  background-color: #a9c1af;
  /* background-color: #adc7b3; */
  color: #ffffff;
  padding: 30px 60px;
  border-radius: 8px;
  border: 1px solid #c3e6cb;
  /* font-weight: bold; */
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  text-align: center;
}











.NewPassword-container .NewPassword-error-msg {
  color: rgb(235, 138, 138);
  font-size: 0.9rem;
  /* margin: 0; */
  margin: 0 40px -10px;
     position: absolute;
  top: 100%;
  right: 0;
  /* line-height: 1.2rem;
  min-height: 1.0rem; */
}

/* ----------------------------------------------- */
.NewPassword-container .register-link {
  color: #828181;
  text-align: center;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.NewPassword-container .link {
  text-decoration: none;
  color: #40798c;
}

.NewPassword-container .link:hover {
  color: #75a5b3;
}

.NewPassword-container .NewPassword-password-field {
  position: relative;
  width: 30%;
}
.NewPassword-container .NewPassword-password-field {
  width: 100%;
  
}
.NewPassword-container .confirm-password-field {
  position: relative;
  width: 30%;
}
.NewPassword-container .confirm-password-field {
  width: 100%;
  
}



.confirm-password-field {
  transform: translateY(0);
  transition: transform 0.3s ease;
}


.NewPassword-password-field:focus-within + .confirm-password-field {
  transform: translateY(80px);
}

.NewPassword-container input::-ms-reveal {
  display: none;
}

.NewPassword-container .password-eye {
  position: absolute;
  top: calc(50% - 4px);
  left: 30px;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  font-size: 20px;
  color: #40798c;
}

.NewPassword-container .btn-container {
  color: white;
  background-color: #40798c;
  padding: 10px 20px;
  border-radius: 35px;
  width: 250px;
  font-size: 20px;
  border: none;
}

.NewPassword-container .NewPassword-form button:hover {
  box-shadow: 2px 2px 5px #a3a9a6;
  border: 1px solid #40798c;
}




/* ----------banner---------------------- */


.NewPassword-container .image img {
  width: 40vw;
  height: 100%;
}

/* ---------------------------------------------------------------------------------- */
/* TABLET */
/* @media (min-width: 768px) and (max-width: 992px) { */
@media (max-width: 991px) {
  .NewPassword-container {
    flex-direction: row;
    /* height: auto; */
    /* overflow-y: auto; */
  }

  .NewPassword-container .NewPassword-form {
    width: 50%;
    height: auto;
  }

  .NewPassword-container img {
    width: 45%;
    /* height: 130%; */
    object-fit: cover;
  }

  .NewPassword-container .register-link {
    padding-top: 0;
    position: relative;
    text-align: center;
    padding-bottom: 60px;
    font-size: 18px;
  }

  .NewPassword-container input,
  .NewPassword-container .NewPassword-password-field input {
    width: 100%;
    font-size: 20px;
  }

  .NewPassword-container .NewPassword-password-field {
    width: 100%;
  }

  .NewPassword-container .password-eye {
    position: absolute;
    top: calc(50% - 4px);
    left: 30px;
    transform: translateY(-50%);
    font-size: 18px;
  }

  .NewPassword-container .btn-container Link {
    width: 50%;
    margin: 30px 90px 10px 0;
    display: block;
    text-decoration: none;
  }

  .NewPassword-container .image img {
    width: 50vw;
    height: auto;
    /* margin: 20px auto; */
    display: block;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  .NewPassword-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    overflow-y: auto;
  }

  .NewPassword-container .NewPassword-form {
    width: 100%;
    height: 100vh;
  }

  .NewPassword-container input,
  .NewPassword-container .NewPassword-password-field input {
    width: 100%;
    display: block;
  }

  .NewPassword-container .image {
    display: none;

  }
}
