.page-not-found-container{
    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #40798c ;
    
}
.page-not-found-container h1{
    font-size: 50px ;
    font-weight: bold;
}